<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shoopping Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-cookies.js"></script>
    <link href="style.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"
        type="text/javascript"></script>
    <script src="angularjs.js" type="text/javascript"></script>
</head>
    <body ng-app="myApp" ng-controller="booksCtrl">
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img class="header-icon" src="images/cart.png">
                        <span class="title-site"> Cart</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <form>
                            <input class="search-bar" placeholder="Search for books..." type="text" ng-model="test" />
                        </form>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div type="button" class="cart" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-shopping-cart my-cart-icon">
                                <span class="badge badge-notify my-cart-badge">{{count}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade " id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Shop Book</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="cart-modal">
                                <li class="cart-items" ng-repeat="item in cart">
                                    <div class="typeof"><img ng-src="{{item.image}}"></div>
                                    <div class="typeof">{{ item.author }}</div>
                                    <div class="typeof">{{ item.title }}</div>
                                    <div class="typeof">{{item.newPrice  | currency}}</div>
                                    <div class="typeof">
                                        <button class="btn-ct" ng-click="increment(item)">+</button>
                                        <input type="number" name="quantity" min="0" ng-model="item.qty"
                                            class="cart-qty">
                                        <button class="btn-ct desc" ng-click="decrement(item)">-</button>
                                    </div>
                                    <div class="typeof">{{getCost(item) | currency}}</div>
                                    <button type="button" class="originalBTN" ng-click="removeCartItem(item)">X</button>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="items-info">
                                <span class="totalPrice"><span>Total </span>{{getTotal() | currency}} </span>
                                <span class="totalBooks"><span>Total Items </span>{{count}}</span>
                            </div>                         
                            <button type="button" class="btn" data-dismiss="modal" >Close                      </button>
                            <button type="button" class="btn btn-danger " ng-click="checkout()">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="books-list">
            <div class="container">
                <div class="row">
                    <div ng-click="clicked()" ng-repeat="item in books | filter:test">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div id="item">
                                <span class="discount">-{{item.discount}}% </span>
                                <div class="none">{{item.index}}</div>
                                <div class="photo" ng-click="description(item)">
                                    <img ng-src="{{item.image}}">                                  
                                </div>
                                <div class="book-descrip">
                                        <div class="header-desc" ng-click="close()"><div class="exit">X</div></div>
                                 <div class="content">  {{descr}}</div>                                     
                                </div>
                                <div class="author"> <span>{{ item.author }} </span></div>
                                <div class="title"><span>{{ item.title }}</span></div>
                                <div class="price"><span>{{item.price  | currency}} </span></div>
                               <div class="newPrice">{{item.newPrice | currency}} <span class="dsc">(-{{item.discount}}%)</span></div>
                                <div class="b-control">
                                    <div class="qty">
                                        <input type="number" name="quantity" min="1" ng-model="item.qty" id="quantity">
                                    </div>
                                    <!-- <span> {{ item.qty * item.price | currency }}</span> -->
                                    <div class="buy-btn">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="buyBook(item)">Buy</button>
                                    </div>
                                    <div class="hide-book">
                                        <button type="button" class="btn btn-danger btn-sm"
                                            ng-click="removeItem(item)">Hide</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="admin" data-toggle="modal" data-target="#myAdmin">
            <i class="fa fa-plus"></i>
        </div>
        <div id="reset">
            <span class="reset-btn" ng-click="resetBTN()">X</span>
        </div>
        <!--  -->
        <div class="modal fade" id="myAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog adminDialog" role="document">
                <div class="modal-content adminContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Books</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="admin-panel">
                        <div class="admin-alert"> {{alert}}</div>
                        <form>
                            <label for="lname">Add author</label>
                            <input type="text" placeholder="Author name.." ng-model="newBookAuthor" required />
                          
                            <label for="lname">Add Title</label>
                            <input type="text" placeholder="Book title.." ng-model="newBookTitle" required />

                            <label for="lname">Add description</label>
                            <input type="text" placeholder="Book description.." ng-model="newDescription" required />
                        
                            <label for="lname">Add Price</label>
                            <input type="number" placeholder="Book price.." name="quantity" min="0"
                                ng-model="newBookPrice" required />
                          
                            <label for="lname"> Quantity</label>
                            <input type="number" placeholder="Number of books.." name="quantity" min="1"
                                ng-model="addQuantity" required />
                            
                            <label for="lname"> Image </label>
                            <input type="file" class="custom-file-input" ng-file-model="files" multiple />
                        </form>
                        <button type="submit" class="addBookBtn btn btn-info" ng-click="addBook(item)">Add Book</button>
                        <button class="remove-btn btn btn-danger" ng-click="removeBook()">Remove Book</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
       <div class="modal-backdrop"></div>
 </body>
</html>