            body {
                background: #ececec;
                background-image: repeating-linear-gradient(45deg, #aaa, #aaa 25px, #999 25px, #999 50px);
           padding-bottom: 500px;
            }

            h3 {
                color: rgb(43, 58, 146);
            }
            .modal-backdrop {
                display: none;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: lightgray;
                opacity: 0.5;
                z-index: 50;
            }

            .block {
                overflow: hidden;
            }

            .search {
                text-align: center;
            }

            .search input {
                width: 80%;
            }

            .book, .cart-modal {
                list-style: none;
                width: 100%;
                padding-left: 0px;
            }

            .cart-modal .names {
                border-bottom: 2px solid red;
                margin-bottom: 5px;
            }

            .btn-sm {
                float: right;
            }

            /* admin */

            .addBooks input {
                padding: 3px 10px;
                font-size: 16px;
                background: black;
                color: whitesmoke;
            }

            .type {
                color: red;
            }

            .originalBTN {
                width: 30px;
                height: 25px;
                line-height: 10px;
                border-radius: 5px;
                background: tomato;
                border: 1px solid gold;
                color: white;
                transition: 0.5s ease;
            }

            .originalBTN:hover {
                border-radius: 8px;
                border: 1px solid red;
                color: black;
                background: gold;
            }

            .remove-btn {
                margin-left: 10px;
            }

            /* . */

            .cart {
                text-align: center;
                font-size: 43px;
                cursor: pointer;
                color: gray;
            }

            .none {
                display: none;
            }

            /* shoping-cart */

            .btn-ct {
                margin: 0;
                padding: 0;
                width: 15px;
                color: white;
                font-weight: 600;
                background: gray;
                line-height: 15px;
                border: 1px solid black;
                border-radius: 4px;
                box-shadow: 1px 2px 0px 0px #999;
            }

            .btn-ct:active {
                background-color: #3e8e41;
                box-shadow: 0 1px #666;
                transform: translateY(1px);
                color: #ffcccc;
            }

            .cart-items .desc:active {
                background-color: red;
            }

            .cart-items {
                border-radius: 7px;
                background-color: #e5e5e5;
                border: 1px solid lightgrey;
                margin-bottom: 10px;
                padding: 5px 10px 5px 10px;
                box-shadow: 2px 3px 0px 0px #999;
            }

            .cart-items img {
                border-radius: 7px;
                border: 1px solid gray;
                width: 50px;
                height: 68px;
            }

            .cart-items .typeof {
                width: 15%;
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                font-size: 13px;
                text-align: center;
            }

            .cart-items .cart-qty {
                display: inline-block;
                width: 33%;
                overflow: hidden;
                color: blue;
                margin: 0;
            }

            .cart-items input::-webkit-outer-spin-button, .cart-items input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            .cart-items input, .bookList input {
                text-align: center;
            }

            .my-cart-badge {
                position: absolute;
                top: 0;
                right: 0;
                background: red;
            }

            .items-info {
                margin: 5px 15px;
            }

            .totalPrice {
                font-size: 17px;
                font-weight: bold;
                color: red;
            }

            .totalBooks {
                float: left;
                font-size: 17px;
                font-weight: bold;
                color: red;
            }

            .totalPrice span, .totalBooks span {
                color: black;
            }

            /* end shoping-cart */

            input[type="number"] {
                -moz-appearance: textfield;
            }

            /* remake it */

            /* HEADER */

            #header {
                position: relative;
                box-shadow: 0px 5px 5px 0px #4a4a4a;
                padding: 7px 0;
                z-index: 49;
                background: rgba(0, 0, 0, 0.5);
            }

            #header .header-icon {
                transform: rotateY(180deg);
                height: 50px;
                width: auto;
                margin-top: 10px;
            }

            #header .title-site {
                font-size: 30px;
                font-weight: bold;
                color: gray;
                font-style: oblique;
                display: inline-block;
            }

            #header .search-bar {
                width: 40%;
                margin: 10px 0;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                background-image: url(https://www.w3schools.com/howto/searchicon.png);
                background-position: 10px 6px;
                background-repeat: no-repeat;
                padding: 5px 20px 5px 40px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                color: black;
            }

            #header .search-bar:hover {
                width: 85%;
            }

            /* END-HEADER */

            /*  books-list*/

            .books-list:after {
                content: "";
                background-image: url("images/wp1850829-harry-potter-book-wallpapers.jpg");
                opacity: 0.5;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: fixed;
                z-index: -1;
                background-repeat: no-repeat;
                background-position: top;
            }

            #item {
                position: relative;
                height: 420px;
                padding: 20px 5px;
                margin: 10px 0;
                text-align: center;
                background: white;
                border: 2px solid gray;
                border-radius: 5px;
                box-shadow: 5px 5px 5px 0px black;
            }

            #item .discount {
                position: absolute;
                left: -5px;
                top: 0;           
                background-color: rgb(255, 66, 0);
                border-bottom-right-radius: 3px;
                box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .4);
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;              
                text-align: center;          
                z-index: 1;
                line-height: 1.3;             
                padding: 6px 5px;
                color: #fff;
                white-space: normal;
                max-width: 112px;
                min-width: 72px;            
                text-transform: uppercase;
            }

            #item .discount:after {
                content: "";
                width: 0;
                height: 0;
                border-top: 0 solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 6px solid brown;
                position: absolute;
                bottom: -5px;
                left: 0;
            }
         

            #item .photo {
                text-align: center;
                width: 170px;
                height: 215px;
                margin: auto;
                cursor: pointer;
            }

            #item .book-descrip {
                position: fixed;
                top: 50%;
                left: 50%;
                width: 50%;
                padding: 30px 0 30px 0;
                display: none;
                background-color: #e5e5e5;
                color: black;
                border: 1px solid gray;
                border-radius: 5px;
                text-align: center;
                padding: 20px;
                z-index: 55;
                transform: translate(-50%, -50%);
            }

            #item .header-desc {
                width: 100%;
                height: 40px;
            }

            #item .content {
                border: 1px solid lightgray;
                border-radius: 5px;
                padding: 20px 0 20px 0;
                background: white;
            }

            #item .exit {
                cursor: pointer;
                width: 30px;
                height: 30px;
                font-size: 17px;
                padding: 4px;
                float: right;
                margin: 2px;
                color: gray;
                font-weight: bold;
                box-shadow: 2px 2px 2px 0px black;
                border: 1px solid black;
                border-radius: 4px;
                background: white;
            }

            #item .exit:active {
                box-shadow: 1px 1px 1px 0px lightpink;
                color: black;
            }

            #item img {
                max-width: 170px;
                max-height: 215px;
                margin-bottom: 5px;
                vertical-align: middle;
                border-radius: 5px;
                border: 1px solid lightgray;
            }

            #item input {
                width: 60%;
                text-align: center;
                border: 1px solid black;
                border-radius: 3px;
                color: gray;
                font-weight: bold;
                margin-top: 3px;
                float: right;
            }

            #item .b-control {
                width: 100%;
            }

            #item .qty, #item .buy-btn, #item .hide-book {
                float: left;
                width: 30%;
            }

            #item .author, #item .title, #item .price {
                font-size: 20px;
                margin: 4px 0;
            }

            #item .title {
                color: slateblue;
                font-weight: 400;
                font-style: italic;
            }
            #item .newPrice{
                color: red;
                font-size: 16px;
                margin:4px 0 12px 0;
            }
            #item .newPrice .dsc{
                font-size: 13px;
                color:rgb(128, 125, 125);      
            }
            #item .price {
                color:gray;
               font-size: 16px;
               text-decoration-line: line-through;
            }

            /* reset btn */

            #reset {
                position: fixed;
                bottom: 50px;
                left: 65px;
                width: 40px;
                height: 40px;
                background: indianred;
                border-radius: 50%;
                border: 1px solid gray;
                text-align: center;
                color: white;
                cursor: pointer;
                box-shadow: 0 3px #999;
                z-index: 50;
            }

            #reset:active {
                background-color: red;
                box-shadow: 0 1px #666;
                transform: translateY(4px);
                color: white;
            }

            .reset-btn {
                line-height: 35px;
                font-size: 15px;
                padding: 14px;
                font-weight: bold;
                color: lightcyan;
            }

            /* - */

            /* admin btn */

            #admin {
                position: fixed;
                bottom: 50px;
                right: 50px;
                width: 75px;
                height: 75px;
                background: lightgreen;
                border-radius: 50%;
                border: 1px solid gray;
                line-height: 75px;
                text-align: center;
                font-size: 40px;
                color: white;
                cursor: pointer;
                box-shadow: 0 5px #999;
                z-index: 50;
            }

            #admin:active {
                background-color: #3e8e41;
                box-shadow: 0 1px #666;
                transform: translateY(4px);
                color: #ffcccc;
            }

            #myAdmin h5 {
                padding: 0 0 0 10px;
                font-size: 25px;
                float: left;
            }

            #admin-panel {
                text-align: center;
            }

            .modal-header .close {
                margin-top: 4px;
                font-size: 30px;
            }

            .adminContent {
                background-color: #f2f2f2;
            }

            #admin-panel .admin-alert {
                border-radius: 5px;
                padding: 20px;
            }

            #myAdmin label {
                width: 100%;
                text-align: center;
                font-size: 18px;
                color: #4a4a4a;
            }

            #myAdmin input[type=text], #myAdmin select, #myAdmin input[type=file], #myAdmin input[type=number] {
                width: 90%;
                font-size: 15px;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            #myAdmin input[type=file] {
                width: 85%;
                background: radial-gradient(black, transparent);
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-bottom: 15px;
            }

            #myAdmin input[type=file]:hover {
                background-color: bisque;
            }

            .custom-file-input::-webkit-file-upload-button {
                visibility: hidden;
            }

            .custom-file-input::before {
                content: 'Add Image';
                float: left;
                border: 2px dashed lightblue;
                padding: 0px 5px;
                color: lightblue;
                border-radius: 5px;
                font-weight: bold;
            }

            .custom-file-input:hover::before {
                border-color: white;
                color: wheat;
            }

            .custom-file-input:active::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }
            /*  */
            .sticky {
                position: fixed!important;
                top: 0;
                left:0;
                right: 0;
                background: rgba(0, 0, 0, 0.7)!important;
                -webkit-transition: opacity 1s ease-in;
                -moz-transition: opacity 1s ease-in;
                -o-transition: opacity 1s ease-in;
                -ms-transition: opacity 1s ease-in;
                transition: opacity 1s ease-in;
                opacity: 0.3;
            }
            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 0.1 }
            }
            .sticky:hover {
                opacity: 1;
            }
            /*  */
            @media only screen and (max-width: 500px) {}